body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(240, 248, 255, 0.719);
    margin: 0%;
}
section{
    margin-top: 5rem;
    text-align: center;
    background-color: rgba(182, 182, 182, 0.5);
    border-radius: 10px;
    transition: all 0.3s linear;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.budgetList-form{
    padding: 2rem;
}
#budget{
    width: 20rem;
    padding: 0.5rem;
    margin: 0%;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.submit{
    padding: 0.5rem;
    margin: 0%;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; 
    background-color: white;
    cursor: pointer;
}
.submit:hover{background-color: green; color: white;}
.budgetList-container{
    display: grid;
    place-items: center;
    visibility: hidden;
}
.show-container{
    visibility: visible;
}
.budgetList{
    padding: 0.5rem;
}
.budget-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
    margin-bottom: 0.5rem;
    padding: 0.25rem 1rem; 
    border-radius: 100px;
    width: 400px;
}
.budget-item:hover {
    color: rgb(49, 49, 49);
    background: whitesmoke;
  }
.btn-container .btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.btn-container .btn:hover{opacity: 0.7;} 
.clear-btn{
    background-color: white;
    border: none;
    border-radius: 0.6rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    cursor: pointer;
}
.clear-btn:hover{background-color: rgba(255, 0, 0, 0.753); color: white;}
.alert{
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 1.5px;
}
.alert-danger{
    background-color: rgba(255, 0, 0, 0.2);
}
.alert-success{
    background-color: rgba(0, 128, 0, 0.2);
}
@media screen and (min-width: 650px)  {
    section{
        width: 500px;
    }
}
@media screen and (min-width: 1100px) {
    section {
      width: 40vw;
    }
  }